@import-normalize; /* bring in normalize.css styles */
@import 'typeface-montserrat';

:root {
  --white-color: #ffffff;
  --title-color: #9187e4;
  --link-color: #9d98c9;
  --active-link-color: rgb(147, 247, 172);
  --dark-violet: #471ca9;
  --light-violet: #9d98c9;
  --button-load-hover: #290c6e;
  --button-green: #5cd3a8;
  --button-green-hover: #2aa175;
  --button-violet: #ebd8ff;
  --button-violet-hover: #b59ad1;
  --text-color: #373737;

  --base-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white-color);
  transition: color var(--base-transition);
}

a:hover,
a:focus {
  color: var(--link-color);
}

a.active {
  color: var(--active-link-color);
}
